<!doctype html>
<html lang="pt-br">

<head>
    <title>SellCar - Cadastro Veículo</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="/css/estilo.css">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body class="text-center">
    <main id="bgWhite">
        <img src="/img/sellcar-banner.png" alt="logo" id="logo">
        <div id="tituloSellCar">
            <h1 class="font-weight-bold p-1">CADASTRO DE VEÍCULOS</h1>
        </div>

        <form action="/cadastrar-veiculo" method="POST">

            <div class="form-group text-left m-3">
                <div class="row">
                    <div class="col-6"><b><label for="fabricante">Fabricante</label></b></div>
                    <div class="col-6"><b><label for="nomeveiculo">Nome do Veiculo</label></b></div>
                </div>

                <div class="row mb-3">
                    <div class="col-6"><input class="form-control" type="text" name="fabricante" id="fabricante"
                            th:value="${veiculo.fabricante}" placeholder="ex: Ford"></div>
                    <div class="col-6"><input class="form-control" type="text" name="nomeveiculo" id="nomeveiculo"
                            th:value="${veiculo.nomeveiculo}" placeholder="ex: EcoSport"></div>
                </div>

                <div class="row">
                    <div class="col-6"><b><label for="anofabricacao">Ano Fabricação</label></b></div>
                    <div class="col-6"><b><label for="anomodelo">Ano Modelo</label></b></div>
                </div>

                <div class="row  mb-3">
                    <div class="col-6"><input class="form-control" type="text" name="anofabricacao" id="anofabricacao"
                            th:value="${veiculo.anofabricacao}" placeholder="ex: 2010" maxlength="4"></div>
                    <div class="col-6"> <input class="form-control" type="text" name="anomodelo" id="anomodelo"
                            th:value="${veiculo.anomodelo}" placeholder="ex: 2011" maxlength="4"></div>
                </div>

                <div class="row ">
                    <div class="col-4"><b><label for="placa">Placa</label></b></div>
                    <div class="col-4"><b><label for="renavan">Renavan</label></b></div>
                    <div class="col-4"><b><label for="chassi">Chassi</label></b></div>
                </div>

                <div class="row  mb-3">
                    <div class="col-4"><input class="form-control" type="text" name="placa" id="placa"
                            th:value="${veiculo.placa}" onkeyup="validarPlaca(this)" placeholder="ex: AAA-1234" maxlength="8" autofocus></div>
                    <div class="col-4"><input class="form-control" type="text" name="renavan" id="renavan"
                            th:value="${veiculo.renavan}" placeholder="ex: 00154935468" maxlength="11"></div>
                    <div class="col-4"><input class="form-control" type="text" name="chassi" id="chassi"
                            th:value="${veiculo.chassi}" placeholder="ex: 9BW.HE21J.X.24060831" maxlength="17"></div>
                </div>

                <div><b>Opcionais</b></div>
                <div class="ml-4">
                    <div><label for="multimidia" class="form-check-label"><input class="form-check-input" type="checkbox" name="multimidia" id="multimidia" th:value="${veiculo.opcionais}">Multimídia</label></div>
                    <div><label for="travaeletrica" class="form-check-label"><input class="form-check-input" type="checkbox" name="travaeletrica" id="travaeletrica" th:value="${veiculo.opcionais}">Trava Elétrica</label></div>
                    <div><label for="vidroeletrico" class="form-check-label"><input class="form-check-input" type="checkbox" name="vidroeletrico" id="vidroeletrico" th:value="${veiculo.opcionais}">Vidro Elétrico</label></div>
                    <div><label for="arcondicionado" class="form-check-label"><input class="form-check-input" type="checkbox" name="arcondicionado" id="arcondicionado" th:value="${veiculo.opcionais}">Ar Condicionado</label></div>
                    <div><label class="form-check-label" for="direcaohid"><input class="form-check-input" type="checkbox" name="direcaohid" id="direcaohid" th:value="${veiculo.opcionais}">Direção Hidráulica</label></div>
                    <div><label class="form-check-label" for="direcaoeletrica"><input class="form-check-input" type="checkbox" name="direcaoeletrica" id="direcaoeletrica" th:value="${veiculo.opcionais}">Direção Elétrica</label></div>
                    <div><label class="form-check-label" for="rodaligaleve"><input class="form-check-input" type="checkbox" name="rodaligaleve" id="rodaligaleve" th:value="${veiculo.opcionais}">Roda Liga Leve</label></div>
                    <div><label class="form-check-label" for="alarme"><input class="form-check-input" type="checkbox" name="alarme" id="alarme" th:value="${veiculo.opcionais}">Alarme</label></div>
                    <div><label class="form-check-label" for="retrovisoreletro"><input class="form-check-input" type="checkbox" name="retrovisoreletro" id="retrovisoreletro" th:value="${veiculo.opcionais}">Retrovisor Eletrocrômico</label></div>
                    <div><label class="form-check-label" for="sensorestacio"><input class="form-check-input" type="checkbox" name="sensorestacio" id="sensorestacio" th:value="${veiculo.opcionais}">Sensor de Estacionamento</label></div>
                    <div><label class="form-check-label" for="chavecanivete"><input class="form-check-input" type="checkbox" name="chavecanivete" id="chavecanivete" th:value="${veiculo.opcionais}">Chave Canivete</label></div>
                    <div><label class="form-check-label" for="controltrac"><input class="form-check-input" type="checkbox" name="controltrac" id="controltrac" th:value="${veiculo.opcionais}">Controle de Tração/Estabilidade</label></div>
                </div>
            </div>

            <input type="hidden" name="id" th:value="${veiculo.id}">

            <div class="row">
                <div class="col-4"></div>
                <div class="col-4"><input class="btn btn-dark m-1" type="submit" value="CADASTRAR" id="cadastrar"
                        onclick="confirmar()"></div>
                <div class="col-4"><a href="/index-veiculo"><img src="/img/back.png" alt="voltar" id="voltar"></a></div>
            </div>
        </form>
    </main>
    <footer class="text-center font-weight-bold">Hackerman's - Todos os Direitos Reservados - All Rights Reserved
        &copy</footer>

    <!-- Optional JavaScript -->
    <script src="/js/interacoes.js"></script>
    <script src="/js/placa.js"></script>
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>

</html>