<!doctype html>
<html lang="pt-br">

<head>
    <title>SellCar - Cadastro Cliente</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/estilo.css">

</head>

<body>
  
  <header>
    <div class="container">
      <div class="row">
        <div class="col">
          <img src="/img/sellcar-banner.png" alt="logo" id="logo">
        </div>
      </div>
      <div class="row" id="tituloSellCar">
        <div class="col">
          <div>
            <h1 class=" text-center font-weight-bold p-1">CADASTRO DE CLIENTE</h1>
          </div>
        </div>
        <div class="col-1 text-center btn-group mt-3">
          <div onclick="fonte('a')"><img src="/img/increase.png" height="30px" width="30px" class="mr-2"></div>
          <div onclick="fonte('d')"><img src="/img/decrease.png" height="30px" width="30px"></div>
        </div>
      </div>
    </div>
  </header>
    <div class="container" id="bgWhite">
        <form action="/cadastrar-cliente" method="POST" class="was-validated">
            <div class="form-group text-left m-3">
                <div class="row">
                    <div class="col-6"><b><label for="nome">Nome Completo</label></b></div>
                    <div class="col-3"><b><label for="cpf">CPF</label></b></div>
                    <div class="col-3"><b><label for="datanascimento">Data Nascimento</label></b></div>
                </div>

                <div class="row mb-3">
                    <div class="col-6"><input class="form-control" type="text" name="nome" id="nome"
                            th:value="${cliente.nome}" title="Nome Completo do Cliente" placeholder="José da Silva"
                            onkeydown="return/[a-z, ]/i.test(event.key)"></div>
                    <div class="col-3"><input class="form-control" type="text" name="cpf" id="cpf"
                            th:value="${cliente.cpf}" title="CPF do Cliente (somente números)" placeholder="000.000.000-00" maxlength="14"></div>
                    <div class="col-3"> <input class="form-control" type="text" name="datanascimentocli"
                            id="datanascimentocli" onkeypress="mascaraData( this, event )" title="Data de Nascimento do Cliente (somente números)" pattern="[0-9]{2}\/[0-9]{2}\/[0-9]{4}$" maxlength="10" th:value="${cliente.datanascimentocli}" placeholder="01/01/2000">
                    </div>
                </div>

                <div class="row">
                    <div class="col-2"><b><label for="cep">CEP</label></b></div>
                    <div class="col-4"><b><label for="rua">Rua</label></b></div>
                    <div class="col-2"><b><label for="bairro">Bairro</label></b></div>
                    <div class="col-2"><b><label for="cidade">Cidade</label></b></div>
                    <div class="col-2"><b><label for="numres">Número</label></b></div>
                </div>

                <div class="row mb-3">
                  <div class="col-2"><input class="form-control" type="text" name="cep" id="cep" onblur="pesquisacep(this.value);"
                    th:value="${cliente.cep}" title="CEP do Cliente" placeholder="00.000-000" maxlength="10"></div>
                  <div class="col-4"><input class="form-control" type="text" name="rua" id="rua"
                    th:value="${cliente.rua}" title="Rua do Cliente" placeholder="Rua X"></div>
                  <div class="col-2"><input class="form-control" type="text" name="bairro" id="bairro"
                    th:value="${cliente.bairro}" title="Bairro do Cliente" placeholder="Kobrasol"></div>
                  <div class="col-2"><input class="form-control" type="text" name="cidade" id="cidade"
                    th:value="${cliente.cidade}" title="Cidade do Cliente" placeholder="São José"></div>
                  <div class="col-2"><input class="form-control" type="text" name="numres" id="numres" pattern="[0-9]+$"
                    th:value="${cliente.numres}" title="Número da Residencia do Cliente" placeholder="100" maxlength="4"></div>
                </div>

                <div class="row">
                    <div class="col-3"><b><label for="uf">UF</label></b></div>
                    <div class="col-4"><b><label for="telefone">Telefone</label></b></div>
                    <div class="col-4"><b><label for="email">E-Mail</label></b></div>
                </div>

                <div class="row mb-3">
                  <div class="col-3">
                    <select class="form-control" name="uf" id="uf" title="União Federativa" th:value="${cliente.uf}">
                        <option selected disabled value="selecionar">SELECIONE O ESTADO</option>
                        <optgroup label="Região Norte">
                          <option value="AM">Amazonas</option>
                          <option value="RR">Roraima</option>
                          <option value="AP">Amapá</option>
                          <option value="PA">Pará</option>
                          <option value="TO">Tocantins</option>
                          <option value="RO">Rondônia</option>
                          <option value="AC">Acre</option>
                        </optgroup>
                        <optgroup label="Região Nordeste">
                          <option value="MA">Maranhão</option>
                          <option value="PI">Piauí</option>
                          <option value="CE">Ceará</option>
                          <option value="RN">Rio Grande do Norte</option>
                          <option value="PE">Pernambuco</option>
                          <option value="PB">Paraíba</option>
                          <option value="SE">Sergipe</option>
                          <option value="AL">Alagoas</option>
                          <option value="BA">Bahia</option>
                        </optgroup>
                        <optgroup label="Região Centro-Oeste">
                          <option value="MT">Mato Grosso</option>
                          <option value="MS">Mato Grosso do Sul</option>
                          <option value="GO">Goiás</option>
                        </optgroup>
                        <optgroup label="Região Sudeste">
                          <option value="SP">São Paulo</option>
                          <option value="RJ">Rio de Janeiro</option>
                          <option value="ES">Espírito Santo</option>
                          <option value="MG">Minas Gerais</option>
                        </optgroup>
                        <optgroup label="Região Sul">
                            <option value="SC">Santa Catarina</option>
                            <option value="RS">Rio Grande do Sul</option>
                            <option value="PR">Paraná</option>
                        </optgroup>
                    </select>
                </div>
               <div class="col-4"><input class="form-control" type="text" name="telefone" id="telefone"
                      th:value="${cliente.telefone}" title="Telefone do Cliente" placeholder="(48)99999-9999" maxlength="14"></div>
              <div class="col-4"><input class="form-control" type="email" name="emailcli" id="emailcli"
                      th:value="${cliente.emailcli}" title="E-Mail do Cliente" placeholder="email@email.com"></div>
             </div>
            </div>

            <input type="hidden" name="id" th:value="${cliente.id}">

            <div class="row text-center">
                <div class="col-4"></div>
                <div class="col-4"><input class="btn btn-dark m-1" title="Botão para salvar os dados inseridos!" type="submit" value="SALVAR" id="cadastrar"
                        onclick="return confirmar()"></div>
                <div class="col-4 text-right"><a href="/index-cliente"><img src="/img/back.png" alt="voltar" id="voltar"></a></div>
            </div>
        </form>

        <!-- <button type="button" id="botao" onclick="fonte('a')">Aumentar!</button>
        <button type="button" id="botao" onclick="fonte('d')">Diminuir!</button> -->

    </div>
            
    
    <div class="container">
        <div class="row">
          <div class="col">
            <footer id="footerindex" class="text-center font-weight-bold">Hackerman's - Todos os Direitos Reservados - All
              Rights
              Reserved &copy</footer>
          </div>
        </div>
      </div>
    

    <!-- Optional JavaScript -->
    <script src="/js/interacoes.js"></script>
    <script src="/js/mascara-data.js"></script>
    <script src="/js/pesquisa-cep.js"></script>
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>

</html>