<!doctype html>
<html lang="pt-br">

<head>
    <title>SellCar - Cadastro Funcionário</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="/css/estilo.css">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body class="text-center">
    <main id="bgWhite">
        <img src="/img/sellcar-banner.png" alt="logo" id="logo">
        <div id="tituloSellCar">
            <h1 class="font-weight-bold p-1">CADASTRO DE FUNCIONÁRIOS</h1>
        </div>

        <form action="/cadastrar-funcionario" method="POST">

            <div class="form-group text-left m-3">

                <div class="row">
                    <div class="col-6"><b><label for="nome">Nome Completo</label></b></div>
                    <div class="col-3"><b><label for="cpf">CPF</label></b></div>
                    <div class="col-3"><b><label for="datanascimento">Data Nascimento</label></b></div>
                </div>

                <div class="row mb-3">
                    <div class="col-6"><input class="form-control" type="text" name="nome" id="nome"
                            th:value="${funcionario.nome}" placeholder="ex: José da Silva"
                            onkeydown="return/[a-z, ]/i.test(event.key)"></div>
                    <div class="col-3"><input class="form-control" type="text" name="cpf" id="cpf"
                            th:value="${funcionario.cpf}" placeholder="ex: 000.000.000-00" maxlength="14"></div>
                    <div class="col-3"><input class="form-control" type="date" name="datanascimento" id="datanascimento"
                            th:value="${funcionario.datanascimentofunc}" placeholder="ex: 01/01/2000"></div>
                </div>

                <div class="row">
                    <div class="col-6"><b><label for="endereco">Endereço</label></b></div>
                    <div class="col-3"><b><label for="cep">CEP</label></b></div>
                    <div class="col-3"><b><label for="uf">UF</label></b></div>
                </div>

                <div class="row mb-3">
                    <div class="col-6"><input class="form-control" type="text" name="endereco" id="endereco"
                            th:value="${funcionario.endereco}" placeholder="ex: Rua X, 222"></div>
                    <div class="col-3"><input class="form-control" type="text" name="cep" id="cep"
                            th:value="${funcionario.cep}" placeholder="ex: 00.000-000" maxlength="10"></div>
                    <div class="col-3">
                        <select class="form-control" name="uf" id="uf" th:value="${funcionario.uf}">
                            <option selected disabled value="selecionar">SELECIONE O ESTADO</option>
                            <option value="SC">SC</option>
                            <option value="RS">RS</option>
                            <option value="PR">PR</option>
                        </select>
                    </div>
                </div>

                <div class="row">
                    <div class="col-4"><b><label for="telefone">Telefone</label></b></div>
                    <div class="col-4"><b></b><label for="email"><b>E-Mail</b></label></div>
                </div>

                <div class="row mb-3">
                    <div class="col-4"><input class="form-control" type="text" name="telefone" id="telefone"
                            th:value="${funcionario.celular}" placeholder="ex: (48)99999-9999" maxlength="14"></div>
                    <div class="col-4"><input class="form-control" type="text" name="email" id="email"
                            th:value="${funcionario.emailfunc}" placeholder="ex: email@email.com.br"></div>
                </div>

                <div class="row">
                    <div class="col-6"><b><label for="login">Login</label></b></div>
                    <div class="col-6"><b><label for="senha">Senha</label></b></div>
                </div>

                <div class="row mb-3">
                    <div class="col-6"><input class="form-control" type="text" name="login" id="login"
                            th:value="${funcionario.cadlogin}" placeholder="ex: alberto.silva"></div>
                    <div class="col-6"><input class="form-control" type="text" name="senha" id="senha"
                            th:value="${funcionario.cadsenha}" placeholder="mínimo 8 dígitos"></div>
                </div>
            </div>

            <input type="hidden" name="id" th:value="${funcionario.id}">

            <div class="row">
                <div class="col-4"></div>
                <div class="col-4"><input class="btn btn-dark m-1" type="submit" value="CADASTRAR" id="cadastrar"
                        onclick="confirmar()"></div>
                <div class="col-4"><a href="/index-funcionario"><img src="/img/back.png" alt="voltar" id="voltar"></a>
                </div>
            </div>
        </form>
    </main>
    <footer class="text-center font-weight-bold">Hackerman's - Todos os Direitos Reservados - All Rights Reserved
        &copy</footer>

    <script src="/js/interacoes.js"></script>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>

</html>