<!doctype html>
<html lang="pt-br">

<head>
    <title>SellCar - Cadastro Funcionário</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/estilo.css">
</head>

<body>
 
    <header>
        <div class="container">
          <div class="row">
            <div class="col">
              <img src="/img/sellcar-banner.png" alt="logo" id="logo">
            </div>
          </div>
          <div class="row"  id="tituloSellCar">
            <div class="col-10">
              <div>
                <h1 class=" text-center font-weight-bold p-1">CADASTRO DE FUNCIONÁRIO</h1>
              </div>
            </div>
            <div class="col-1 text-right">
              <div onclick="fonte('a')"><img src="/img/increase.png"></div>
            </div>
            <div class="col-1 text-right">
              <div onclick="fonte('d')"><img src="/img/decrease.png"></div>
            </div>
          </div>
        </div>
      </header>
      
      <div class="container" id="bgWhite">
        <form action="/cadastrar-funcionario" method="POST">
            <div class="container">
                <div class="form-group text-left m-3">
                    <div class="row">
                        <div class="col-6"><b><label for="nome">Nome Completo</label></b></div>
                        <div class="col-3"><b><label for="cpf">CPF</label></b></div>
                        <div class="col-3"><b><label for="datanascimento">Data Nascimento</label></b></div>
                    </div>
        
                    <div class="row mb-3">
                        <div class="col-6"><input class="form-control" type="text" name="nome" id="nome"
                                th:value="${funcionario.nome}" title="Nome Completo do Funcionário" placeholder="José da Silva"
                                onkeydown="return/[a-z, ]/i.test(event.key)"></div>
                        <div class="col-3"><input class="form-control" type="text" name="cpf" id="cpf"
                                th:value="${funcionario.cpf}" title="CPF do Funcionário (somente números)" placeholder="000.000.000-00" maxlength="14"></div>
                        <div class="col-3"><input class="form-control" type="text" name="datanascimentofunc" id="datanascimentofunc"
                                th:value="${funcionario.datanascimentofunc}" title="Data de Nascimento do Funcionário (somente números)" pattern="[0-9]{2}\/[0-9]{2}\/[0-9]{4}$"
                                maxlength="10" onkeypress="mascaraData( this, event )" placeholder="01/01/2000"></div>
                    </div>
        
                    <div class="row">
                        <div class="col-4"><b><label for="endereco">Endereço</label></b></div>
                        <div class="col-2"><b><label for="numres">Número</label></b></div>
                        <div class="col-3"><b><label for="cep">CEP</label></b></div>
                        <div class="col-3"><b><label for="uf">UF</label></b></div>
                    </div>
        
                    <div class="row mb-3">
                        <div class="col-4"><input class="form-control" type="text" name="endereco" id="endereco"
                                th:value="${funcionario.endereco}" title="Endereço do Funcionário" placeholder="Rua X"></div>
                        <div class="col-2"><input class="form-control" type="text" name="numres" id="numres"
                                th:value="${funcionario.numres}" title="Número da Residencia do Funcionário" placeholder="100" max="4"></div>
                        <div class="col-3"><input class="form-control" type="text" name="cep" id="cep"
                                th:value="${funcionario.cep}" title="CEP do Funcionário (somente números)" placeholder="00.000-000" maxlength="10"></div>
                        <div class="col-3">
                            <select class="form-control" name="uf" id="uf" title="União Federativa" th:value="${funcionario.uf}">
                                <option selected disabled value="selecionar">SELECIONE O ESTADO</option>
                                <optgroup label="Região Sul">
                                    <option value="SC">SC</option>
                                    <option value="RS">RS</option>
                                    <option value="PR">PR</option>
                                </optgroup>
                            </select>
                        </div>
                    </div>
        
                    <div class="row">
                        <div class="col-4"><b><label for="telefone">Telefone</label></b></div>
                        <div class="col-4"><b></b><label for="email"><b>E-Mail</b></label></div>
                    </div>
        
                    <div class="row mb-3">
                        <div class="col-4"><input class="form-control" type="text" name="telefone" id="telefone"
                                th:value="${funcionario.telefone}" title="Telefone do Funcionário (somente números)" placeholder="(48)99999-9999" maxlength="14"></div>
                        <div class="col-4"><input class="form-control" type="text" name="emailfunc" id="emailfunc"
                                th:value="${funcionario.emailfunc}" title="E-Mail do Funcionário" placeholder="ex: email@email.com.br"></div>
                    </div>
        
                    <div class="row">
                        <div class="col-6"><b><label for="login">Login</label></b></div>
                        <div class="col-6"><b><label for="senha">Senha</label></b></div>
                    </div>
        
                    <div class="row mb-3">
                        <div class="col-6"><input class="form-control" type="text" name="cadlogin" id="cadlogin"
                                th:value="${funcionario.cadlogin}" title="Nome que será digitado no login!" placeholder="ex: alberto.silva"></div>
                        <div class="col-6"><input class="form-control" type="password" name="cadsenha" id="cadsenha"
                                th:value="${funcionario.cadsenha}" title="Senha para entrar no sistema!" placeholder="mínimo 8 dígitos" minlength="8"
                                maxlength="14"></div>
                    </div>
                </div>
        
                <input type="hidden" name="id" th:value="${funcionario.id}">
        
                <div class="row text-center">
                    <div class="offset-4 col-4"><input class="btn btn-dark m-1" title="Botão para salvar os dados inseridos!" type="submit" value="SALVAR" id="cadastrar"
                            onclick="return confirmar()"></div>
                    <div class="col-4 text-right"><a href="/index-funcionario"><img src="/img/back.png" alt="voltar" id="voltar"></a>
                    </div>
                </div>
                </div>
            </form>

      </div>



      <div class="container">
        <div class="row">
          <div class="col">
            <footer id="footerindex" class="text-center font-weight-bold">Hackerman's - Todos os Direitos Reservados - All
              Rights
              Reserved &copy</footer>
          </div>
        </div>
      </div>





    <!-- Optional JavaScript -->
    <script src="/js/interacoes.js"></script>
    <script src="/js/mascara-data.js"></script>
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>

</html>