<!doctype html>
<html lang="pt-br">

<head>
  <title>SellCar</title>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="/css/estilo.css">
  <link rel="stylesheet" href="animation.css">
</head>

<body>
  <header>
    <div class="container">
      <div class="row">
        <div class="col">
          <img src="/img/sellcar-banner.png" alt="logo" id="logo">
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div id="tituloSellCar">
            <h1 class=" text-center font-weight-bold p-1">MENU PRINCIPAL</h1>
          </div>
        </div>
      </div>
    </div>
  </header>
  <div class="container" id="bgWhite">
    <div id="menuPrincipal">

      <!-- CADASTRO DE CLIENTE E FUNCIONÁRIOS -->
      <!-- inicio -->
      <div class="container">
        <div class="row text-center mt-5">
          <!-- CLIENTES INICIO -->
          <div class="col-sm-6 col-md-6">
            <div><a class="pulse" href="index-cliente"><img src="/img/cliente.png" alt="cliente" id="icones"></a></div>
            <div>
              <a class="btn btn-dark mr-2 mb-2 pequeno" href="index-cliente">CADASTRO
                CLIENTE</a>
            </div>
          </div>
          <!-- CLIENTES FINAL -->

          <!-- FUNCIONÁRIOS INICIO -->
          <div class="col-sm-6 col-md-6">
            <div>
              <a href="index-funcionario"><img src="/img/funcionario.png" alt="funcionario" id="icones"></a>
            </div>
            <div>
              <a class="btn btn-dark mr-2 mb-2 pequeno" href="index-funcionario">CADASTRO
                FUNCIONARIO</a>
            </div>
          </div>
          <!-- FUNCIONÁRIOS FINAL -->
        </div>
      </div>
      <!-- final -->

      <!-- CADASTRO DE VEICULO E VENDAS -->
      <!-- inicio -->
      <div class="container">
        <div class="row text-center mt-5">
          <!-- VEICULO INICIO -->
          <div class="col-sm-6 col-md-6">
            <div><a href="index-veiculo"><img src="/img/veiculo.png" alt="veiculo" id="icones"></a>
            </div>
            <div>
              <a class="btn btn-dark mr-2 mb-2 pequeno" href="index-veiculo">CADASTRO
                VEICULO</a>
            </div>
          </div>
          <!-- VEICULO FINAL -->

          <!-- VENDAS INICIO -->
          <div class="col-sm-6 col-md-6">
            <div>
              <a href="index-vendas"><img src="/img/venda.png" alt="venda" id="icones"></a>
            </div>
            <div>
              <a class="btn btn-dark mr-2 mb-2 pequeno" href="index-vendas">CADASTRO VENDAS</a>
            </div>
          </div>
          <!-- VENDAS FINAL -->
        </div>
      </div>
      <!-- final -->

      


        <!-- BOTAO SAIR -->
        <div class="row">
          <a class="col-sm-12 col-md-12 text-right mt-5" onclick="return sair()" href="/index"><svg xmlns="http://www.w3.org/2000/svg"
            width="50" height="50" viewBox="0 0 24 24" fill="none" stroke="black" stroke-width="2"
            stroke-linecap="round" stroke-linejoin="round" class="feather feather-log-out">
            <path d="M9 21H5a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h4"></path>
            <polyline points="16 17 21 12 16 7"></polyline>
            <line x1="21" y1="12" x2="9" y2="12"></line>
          </svg></a>
        </div>
        <!-- BOTAO SAIR -->

    </div>
  </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col">
        <footer id="footerindex" class="text-center font-weight-bold">Hackerman's - Todos os Direitos Reservados - All
          Rights
          Reserved &copy</footer>
      </div>
    </div>
  </div>

  <!-- Optional JavaScript -->
  <script src="/js/interacoes.js"></script>
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>

</body>

</html>