<!doctype html>
<html lang="pt-br">

<head>
  <title>Veículo Cadastrado</title>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="/css/estilo.css">
</head>

<body>
  <header>
    <div class="container">
      <div class="row">
        <div class="col">
          <img src="/img/sellcar-banner.png" alt="logo" id="logo">
        </div>
      </div>
      <div class="row" id="tituloSellCar">
        <div class="col-11">
          <div>
            <h1 class=" text-center font-weight-bold p-1">VEÍCULO CADASTRADO</h1>
          </div>
        </div>
        <div class="col-1 text-center btn-group mt-3">
          <div onclick="fonte('a')"><img src="/img/increase.png" height="30px" width="30px" class="mr-2"></div>
          <div onclick="fonte('d')"><img src="/img/decrease.png" height="30px" width="30px"></div>
        </div>
      </div>
    </div>
  </header>

  <div class="container text-center" id="bgWhite">
    <h2 th:text="${veiculo.fabricante}">Fabricante:</h2>
    <h2 th:text="${veiculo.nomeveiculo}">Nome do Veículo:</h2>
    <h2 th:text="${veiculo.anofabricacao}">Ano Fabricação:</h2>
    <h2 th:text="${veiculo.anomodelo}">Ano Modelo:</h2>
    <h2 th:text="${veiculo.placa}">Placa:</h2>
    <h2 th:text="${veiculo.renavan}">Renavan:</h2>
    <h2 th:text="${veiculo.chassi}">Chassi:</h2>
    
    <div th:if="${veiculo.multimidia}">
    <input type="checkbox" th:checked="${veiculo.multimidia}"  />Multimídia
  </div>
  <div th:if="${veiculo.travaeletrica}"> 
  <input type="checkbox" th:checked="${veiculo.travaeletrica}"/>Trava Elétrica
</div> 
<div th:if="${veiculo.vidroeletrico}">  
<input type="checkbox" th:checked="${veiculo.vidroeletrico}" />Vidro Elétrico
</div>    
<div th:if="${veiculo.arcondicionado}">
  <input type="checkbox" th:checked="${veiculo.arcondicionado}" />Ar Condicionado
</div>
  <div th:if="${veiculo.direcaohid}">
    <input type="checkbox" th:checked="${veiculo.direcaohid}" />Direção Hidráulica
    </div>
    <div th:if="${veiculo.direcaoeletrica}">
    <input type="checkbox" th:checked="${veiculo.direcaoeletrica}"  />Direção Elétrica
  </div>
  <div th:if="${veiculo.rodaligaleve}">
    <input type="checkbox" th:checked="${veiculo.rodaligaleve}" />Roda Liga Leve
  </div>
  <div th:if="${veiculo.alarme}">
    <input type="checkbox" th:checked="${veiculo.alarme}" />Alarme
  </div>
  <div th:if="${veiculo.retrovisoreletro}">
    <input type="checkbox" th:checked="${veiculo.retrovisoreletro}" />Retrovisor Eletrocrômico
  </div>
  <div  th:if="${veiculo.sensorestacio}">
    <input type="checkbox" th:checked="${veiculo.sensorestacio}" />Sensor Estacionamento
  </div>
  <div th:if="${veiculo.chavecanivete}">
    <input type="checkbox" th:checked="${veiculo.chavecanivete}" />Chave Canivete
  </div>
  <div th:if="${veiculo.controltrac}">
    <input type="checkbox" th:checked="${veiculo.controltrac}" />Controle Tração/Estabilidade
  </div>
    <div><a class="btn btn-dark m-1" href="/index-veiculo">VOLTAR</a></div> 
    
    <!-- <button type="button" id="botao" onclick="fonte('a')">Aumentar!</button>
    <button type="button" id="botao" onclick="fonte('d')">Diminuir!</button> -->

  </div>


  </div>

  <div class="container">
    <div class="row">
      <div class="col">
        <footer id="footerindex" class="text-center font-weight-bold">Hackerman's - Todos os Direitos Reservados - All
          Rights
          Reserved &copy</footer>
      </div>
    </div>
  </div>

  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>
</body>

</html>