<!doctype html>
<html lang="pt-br">

<head>
    <title>Veículo Cadastrado</title>
    <!-- disabled meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/estilo.css">
</head>

<body>
    <header>
        <div class="container">
            <div class="row">
                <div class="col">
                    <img src="/img/sellcar-banner.png" alt="logo" id="logo">
                </div>
            </div>
            <div class="row" id="tituloSellCar">
                <div class="col-11">
                    <div>
                        <h1 class=" text-center font-weight-bold p-1" id="cadastro">VEÍCULO CADASTRADO</h1>
                    </div>
                </div>
                <div class="col-1 text-center btn-group mt-3">
                    <div onclick="fonte('a')"><img src="/img/increase.png" height="30px" width="30px" class="mr-2"></div>
                    <div onclick="fonte('d')"><img src="/img/decrease.png" height="30px" width="30px"></div>
                </div>
            </div>
        </div>
    </header>

    <div class="container text-center" id="bgWhite">
        <div class="container">
            <div class="form-group text-left m-3">

                <div class="row">
                    <!-- fabricante -->
                    <div class="col-12 col-md-3 mb-3">
                        <b><label for="fabricante">Fabricante</label></b>
                        <input class="form-control " type="text" name="fabricante" id="fabricante" th:value="${veiculo.fabricante}" title="Marca/Fabricante do Veículo" placeholder="Ford" disabled>
                    </div>

                    <!-- nome veiculo -->
                    <div class="col-12 col-md-3 mb-3">
                        <b><label for="nomeveiculo">Nome do Veiculo</label></b>
                        <input class="form-control " type="text" name="nomeveiculo" id="nomeveiculo" th:value="${veiculo.nomeveiculo}" title="Nome do Veículo" disabled>
                    </div>

                    <!-- ano fabricacao -->
                    <div class="col-12 col-md-2 mb-3">
                        <b><label for="anofabricacao">Ano Fabricação</label></b>
                        <input class="form-control " type="text" name="anofabricacao" id="anofabricacao" th:value="${veiculo.anofabricacao}" title="Ano de Fabricação do Veículo (somente números)" disabled>
                    </div>

                    <!-- ano modelo -->
                    <div class="col-12 col-md-2 mb-3">
                        <b><label for="anomodelo">Ano Modelo</label></b>
                        <input class="form-control " type="text" name="anomodelo" id="anomodelo" th:value="${veiculo.anomodelo}" title="Ano do Modelo do Veículo (somente números)" disabled>
                    </div>

                    <!-- portas -->
                    <div class="col-12 col-md-2 mb-3">
                        <b><label for="portas">Portas</label></b>
                        <input class="form-control " name="portas" id="portas" title="Qtde Portas" th:value="${veiculo.portas}" disabled>
                        </input>
                    </div>
                </div>

                <div class="row">
                    <!-- cambio -->
                    <div class="col-12 col-md-3 mb-3">
                        <b><label for="cambio">Câmbio</label></b>
                        <input class="form-control " name="cambio" id="cambio" title="Câmbio" th:value="${veiculo.cambio}" disabled>

                        </input>
                    </div>

                    <!-- combustivel -->
                    <div class="col-12 col-md-3 mb-3">
                        <b><label for="combustivel">Combustível</label></b>
                        <input class="form-control " name="combustivel" id="combustivel" title="Combustível" th:value="${veiculo.combustivel}" disabled>
                        </input>
                    </div>

                    <!-- carroceria -->
                    <div class="col-12 col-md-3 mb-3">
                        <b><label for="carroceria">Carroceria</label></b>
                        <input class="form-control " name="carroceria" id="carroceria" title="Tipo de Carroceria" th:value="${veiculo.carroceria}" disabled>
                        </input>
                    </div>

                    <!-- km -->
                    <div class="col-12 col-md-3 mb-3">
                        <b><label for="quilometragem">Quilometragem</label></b>
                        <input class="form-control " type="text" name="quilometragem" id="quilometragem" th:value="${veiculo.quilometragem}" title="Quilometragem do Veículo" disabled>
                    </div>
                </div>

                <div class="row">
                    <!-- placa -->
                    <div class="col-12 col-md-3 mb-3">
                        <b><label for="placa">Placa</label></b>
                        <input class="form-control " type="text" name="placa" id="placa" th:value="${veiculo.placa}" title="Placa do Veículo" disabled>
                    </div>

                    <!-- renavan -->
                    <div class="col-12 col-md-3 mb-3">
                        <b><label for="renavan">Renavan</label></b>
                        <input class="form-control " type="text" name="renavan" id="renavan" th:value="${veiculo.renavan}" title="Renavam do Veículo (somente números)" disabled>
                    </div>

                    <!-- chassi -->
                    <div class="col-12 col-md-3 mb-3">
                        <b><label for="chassi">Chassi</label></b>
                        <input class="form-control " type="text" name="chassi" id="chassi" th:value="${veiculo.chassi}" title="Numeração do Chassi do Veículo" disabled>
                    </div>

                    <!-- motor -->
                    <div class="col-12 col-md-3 mb-3">
                        <b><label for="motor">Motor</label></b>
                        <input class="form-control" type="text" name="motor" id="motor" th:value="${veiculo.motor}" title="Cilindrada do Motor" placeholder="1.6" maxlength="3" required disabled>
                    </div>
                </div>

                <!-- opcionais -->
                <div class="row ml-0">
                    <div class="col">
                        <div><b>Opcionais</b></div>
                    </div>
                </div>

                <div class="row ml-2" title="Opcionais do Veículo">

                    <!-- multimidia -->
                    <div class="col-12 col-md-4">
                        <div>
                            <label for="multimidia" class="form-check-label">
                              <input class="form-check-input" type="checkbox" name="multimidia" id="multimidia"
                              th:checked="${veiculo.multimidia}" disabled>Multimídia
                            </label>
                        </div>

                        <!-- Trava Elétrica -->
                        <div>
                            <label for="travaeletrica" class="form-check-label">
                <input class="form-check-input" type="checkbox" name="travaeletrica" id="travaeletrica"
                  th:checked="${veiculo.travaeletrica}" disabled>Trava Elétrica
              </label>
                        </div>

                        <!-- Vidro Elétrico -->
                        <div>
                            <label for="vidroeletrico" class="form-check-label">
                <input class="form-check-input" type="checkbox" name="vidroeletrico" id="vidroeletrico"
                  th:checked="${veiculo.vidroeletrico}" disabled>Vidro Elétrico
              </label>
                        </div>

                        <!-- Ar Condicionado -->
                        <div>
                            <label for="arcondicionado" class="form-check-label">
                <input class="form-check-input" type="checkbox" name="arcondicionado" id="arcondicionado"
                  th:checked="${veiculo.arcondicionado}" disabled>Ar Condicionado
              </label>
                        </div>

                        <!-- Teto Solar -->
                        <div>
                            <label for="tetosolar" class="form-check-label">
                <input class="form-check-input" type="checkbox" name="tetosolar" id="tetosolar"
                  th:checked="${veiculo.tetosolar}" disabled>Teto Solar
              </label>
                        </div>

                        <!-- Farol Diurno -->
                        <div>
                            <label for="faroldiurno" class="form-check-label">
                <input class="form-check-input" type="checkbox" name="faroldiurno" id="faroldiurno"
                  th:checked="${veiculo.faroldiurno}" disabled>Farol Diurno
              </label>
                        </div>

                        <!-- Cruise Control -->
                        <div>
                            <label for="cruizecontrol" class="form-check-label">
                <input class="form-check-input" type="checkbox" name="cruizecontrol" id="cruizecontrol"
                  th:checked="${veiculo.cruizecontrol}" disabled>Cruize Control
              </label>
                        </div>
                    </div>

                    <div class="col-12 col-md-4">
                        <!-- Direção Hidráulica -->
                        <div>
                            <label class="form-check-label" for="direcaohid"><input class="form-check-input" type="checkbox"
                  name="direcaohid" id="direcaohid" th:checked="${veiculo.direcaohid}" disabled>Direção
                Hidráulica
              </label>
                        </div>

                        <!-- Direção Elétrica -->
                        <div>
                            <label class="form-check-label" for="direcaoeletrica"><input class="form-check-input" type="checkbox"
                  name="direcaoeletrica" id="direcaoeletrica" th:checked="${veiculo.direcaoeletrica}" disabled>Direção
                Elétrica
              </label>
                        </div>

                        <!-- Roda Liga Leve -->
                        <div>
                            <label class="form-check-label" for="rodaligaleve"><input class="form-check-input" type="checkbox"
                  name="rodaligaleve" id="rodaligaleve" th:checked="${veiculo.rodaligaleve}" disabled>Roda Liga Leve
              </label>
                        </div>

                        <!-- Alarme -->
                        <div>
                            <label class="form-check-label" for="alarme"><input class="form-check-input" type="checkbox" name="alarme"
                  id="alarme" th:checked="${veiculo.alarme}" disabled>Alarme
              </label>
                        </div>

                        <!-- Reboque -->
                        <div>
                            <label class="form-check-label" for="reboque"><input class="form-check-input" type="checkbox"
                  name="reboque" id="reboque" th:checked="${veiculo.reboque}" disabled>Reboque
              </label>
                        </div>

                        <!-- ABS -->
                        <div>
                            <label class="form-check-label" for="abs"><input class="form-check-input" type="checkbox" name="abs"
                  id="abs" th:checked="${veiculo.abs}" disabled>ABS
              </label>
                        </div>

                        <!-- Assistente de Subida -->
                        <div>
                            <label class="form-check-label" for="assistrampa"><input class="form-check-input" type="checkbox"
                  name="assistrampa" id="assistrampa" th:checked="${veiculo.assistrampa}" disabled>Assistente de Rampa
              </label>
                        </div>
                    </div>

                    <div class="col-12 col-md-4">
                        <!-- Retrovisor Eletrocrômico -->
                        <div>
                            <label class="form-check-label" for="retrovisoreletro"><input class="form-check-input" type="checkbox"
                  name="retrovisoreletro" id="retrovisoreletro" th:checked="${veiculo.retrovisoreletro}"
                  disabled>Retrovisor Eletrocrômico
              </label>
                        </div>

                        <!-- Sensor de Estacionamento -->
                        <div>
                            <label class="form-check-label" for="sensorestacio"><input class="form-check-input" type="checkbox"
                  name="sensorestacio" id="sensorestacio" th:checked="${veiculo.sensorestacio}" disabled>Sensor de Estacionamento
              </label>
                        </div>

                        <!-- Chave Canivete -->
                        <div>
                            <label class="form-check-label" for="chavecanivete"><input class="form-check-input" type="checkbox"
                  name="chavecanivete" id="chavecanivete" th:checked="${veiculo.chavecanivete}" disabled>Chave Canivete
              </label>
                        </div>

                        <!-- Controle de Tração -->
                        <div>
                            <label class="form-check-label" for="controltrac"><input class="form-check-input" type="checkbox"
                  name="controltrac" id="controltrac" th:checked="${veiculo.controltrac}" disabled>Controle de Tração/Estabilidade
              </label>
                        </div>

                        <!-- Camera de Ré -->
                        <div>
                            <label class="form-check-label" for="camerare"><input class="form-check-input" type="checkbox"
                  name="camerare" id="camerare" th:checked="${veiculo.camerare}" disabled>Camera Ré
              </label>
                        </div>

                        <!-- Banco de Couro -->
                        <div>
                            <label class="form-check-label" for="bancocouro"><input class="form-check-input" type="checkbox"
                  name="bancocouro" id="bancocouro" th:checked="${veiculo.bancocouro}" disabled>Banco Couro
              </label>
                        </div>

                        <!-- AirBag -->
                        <div>
                            <label class="form-check-label" for="airbag"><input class="form-check-input" type="checkbox" name="airbag"
                  id="airbag" th:checked="${veiculo.airbag}" disabled>Airbag
              </label>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div><a class="btn btn-dark m-1" href="/index-veiculo">VOLTAR</a></div>

        <!-- <button type="button" id="botao" onclick="fonte('a')">Aumentar!</button>
    <button type="button" id="botao" onclick="fonte('d')">Diminuir!</button> -->

    </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col">
                <footer id="footerindex" class="text-center font-weight-bold">Hackerman's - Todos os Direitos Reservados - All Rights Reserved &copy</footer>
            </div>
        </div>
    </div>

    <!-- Optional JavaScript -->
    <script src="/js/interacoes.js"></script>
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>

</html>